{% extends '_base.html' %}

{% block title %} Home {% endblock title%}

{% block content %}
<div class="row">
    <h4>List of Authors</h4>
   
    <div>
        <table class="table table-bordered striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Website Address</th>
                    <th scope="col"></th>
                  </tr>
            </thead>
            <tbody>
                {% for author in author_list %}
                    <tr>
                        <td>{{author.name}}</td>
                        <td>{{author.address}}</td>
                        <td>{{author.url}}</td>
                        <td>
                            <a href="" class="btn btn btn-primary" type="button"><i class="bi bi-zoom-in"></i></a>
                            <a href="" class="btn btn btn-danger" type="button"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}