{% extends '_base.html' %}
{% block title %} Book List {% endblock title%}
{% block content %}
<div class="row">
    <h4>Books By Authors</h4>
   
        <table class="table table-bordered striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Book Tile</th>
                    <th scope="col">Book Price</th>
                    <th scope="col">Author</th> 
                    <th scope="col"></th>
                  </tr>
            </thead>
            <tbody>
                {% for book in book_list %}
                <tr>
                    <td>{{book.title}}</td>
                    <td>{{book.price}}</td>
                    <td>{{book.authorName}}</td>
 
                    <td>
                        <a href="" class="btn btn btn-success" type="button"><i class="bi bi-pencil"></i></a> &nbsp;
                        <a href="" class="btn btn btn-danger" type="button"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}